<!-->
 *used to show API testing UI
 *
 *@author Saswati 
 *
 * @category Twig
<-->
<!DOCTYPE html>
<html>
<body>

	{{ form_start(form) }}
	{{ form_row(form.verb) }}
	{{ form_row(form.content) }}
	{{ form_row(form.url) }}
	{{ form_end(form) }}

</body>
</html>
