{% set mdm_session = app.session.get('authenticated') %}
<nav class="navbar navbar-default navbar-static-top">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Quickbooks</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class=""><a href="{{ path('homepage')}}">Home</a></li>
        <li><a href="#"></a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
       {% if mdm_session == false %}

        <li>
          <a id="register" href="{{path('user_registration')}}">Register</a>
        </li>
        <li>
          <a id="login" href="{{path('user_login')}}">Login</a>
        </li>
        {% else %}
          <li>
          <a id="orderlist" href="{{path('orderlist')}}">Order List</a>
        </li>
        <li>
            <input id="shopping-cart" type="hidden" name="product-cart-list">
          <a id="cart" href="#edit">Cart <span class="glyphicon glyphicon-shopping-cart" data-toggle="modal" data-target="#myModal"  data-backdrop="static" data-keyboard="false"></span></a>
        </li>
        <li>
          <a id="logout" href="{{path('user_logout')}}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


